language: node_js
node_js:
- '0.10'
- '0.11'
- '0.8'
matrix:
  allow_failures:
  - node_js:
    - '0.8'
services: redis
deploy:
  provider: npm
  email: mark@segfawlt.net
  api_key:
    secure: p7NgvII8pRax5K8dioSstef6UXZVFdHc3XKc6KF87r7uQNywlMOPe1mGacg0dzr/z6IadhUdY+cgKZnv6XrqICiEIGOkcZ7x6o7ZwBb7J7+fc/kK3b9dOJx2sbco27Qq4S8qWC/pBUZ9RllQbzUZxOPJlMwPm+78AJ87QSp1Cdc=
  on:
    tags: true
    repo: markhuge/hubot-self-uptime
env:
  global:
    secure: E1tW0CTbqZdadQrsDnAaNAx0YGZFJhRzKcXk5IEvZt+zfmptim4smQf2WUnnMA6yLTc0gq+J2O0hzMI7H23aj89+W/nX9dnHElihSd46su4kKcnG2K0b/L6D4iOaNBki9VNYStmze5DMPsAzXELTmOFYTt6x4X6sNyXY8xbvk3U=
